.card {
  width: 290px;
  box-shadow: 2px 8px 21px -16px;
  border-radius: 10px;
  background-color: white;
}

.cardName {
  padding: 0;
  margin: 0 auto 10px auto;
  font-size: 24px;
}

.cardInfo {
  text-align: center;
}

.cardImg {
}

.typeName {
}

.cardData {
}
.title {
}
